/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap'); */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('bg.jpg');
    height: 100vh;
    background-size: cover; 
    overflow: scroll;
} 
h1
{
    color: #fff;
    font-family: 'Rampart One', cursive;
    font-size: 60px;
    position: relative;
    top: 15vh;
    display: flexbox;
    justify-content: center;
    text-align: center;
}
h2
{
    color: #fff;
    font-family: 'Signika', sans-serif;
    font-size: 40px;
    position: relative;
    top: 15vh;
    display: flexbox;
    justify-content: center;
    text-align: center;
}
.icons{
    display: flexbox;
    text-align: center;
    position: relative;
    top: 30vh;
    width: 100%;
}
.icons a{
    text-decoration: none;    
    color: #fff;
    margin: 10px
    
}
.icons a i{
    margin: 10px;
    padding: 7px;
    font-size: 40px;
    transition: .3s ease-in-out;
    border-radius: 30%;

  border: 2px solid #fff;
}
.icons a i:hover{
    background-color: #fff;
    color: black;
}
